@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
.background {
  background-image: url('./assets/northcoderlogo.jpg');
  background-repeat: repeat-y repeat-x;
  background-size: 5%;
  min-height: 100vh;
  height: max-content;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 30vh;

  color: white;
  padding-bottom: 7%;
  padding-top: 2%;
}

.App-title {
  font-size: large;
}

.App-intro {
  font-size: large;
}

.articleList {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.article-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.gallery-Item {
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery-Item .articleThumbnail {
  height: 240px;
  width: 290px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 4px;
  padding: 2%;
  background-color: whitesmoke;
  box-shadow: 0 0 80px black;
}

nav {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullArticle {
  width: 60%;
  margin: auto;

  background-color: whitesmoke;
  border-bottom: 5px solid #941010;
  border-right: 5px solid #941010;
  border-left: 5px solid #941010;
  padding-top: 5px;
}

.title {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}

.commentBox {
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 5px outset #941010;
  border-width: 5px;
  border-style: outset;
  border-color: #941010;
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  height: 110vh;
}

.commentHeader {
  grid-area: header;
  background-color: white;
  position: relative;
  border-bottom: 5px solid #941010;
}

.commentMain {
  grid-area: main;
  padding-right: 15px;
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
}

.commentFooter {
  grid-area: footer;
  font-size: 18px;
  background-size: 5%;
  background-color: black;
}

.commentBox[type='text'] {
  box-sizing: border-box;
  width: 80%;
}

.Login {
  width: 200px;
  float: right;
}

.commentInputAlt {
  color: white;
}

.thumbsUp {
  width: 50px;
  -webkit-transition: color 1s;
  transition: color 1s;
  border-radius: 12px;
  border: 2px solid black;
  padding-right: 2px;
  margin-right: 2px;
}

.thumbsUp:hover {
  background-color: #941010;
  color: whitesmoke;
  -webkit-transition: color 2s;
  transition: background 2s;
  border-radius: 12px;
}

.thumbsDown {
  width: 50px;
  -webkit-transition: color 1s;
  transition: color 1s;
  border-radius: 12px;
  border: 2px solid black;
  transform: rotate(180deg);
  padding-left: 2px;
  margin-left: 2px;
}

.thumbsDown:hover {
  background-color: #941010;
  color: whitesmoke;
  -webkit-transition: color 2s;
  transition: background 2s;
  border-radius: 12px;
}

.thumbsUpCom {
  width: 50px;
  -webkit-transition: color 1s;
  transition: color 1s;
  border-radius: 12px;
  border: 2px solid black;

  padding-left: 2px;
  margin-left: 2px;
}
.thumbsDownCom {
  width: 50px;
  -webkit-transition: color 1s;
  transition: color 1s;
  border-radius: 12px;
  border: 2px solid black;
  transform: rotate(180deg);
  padding-left: 2px;
  margin-left: 2px;
}
.thumbsDownCom:hover {
  background-color: #941010;
  color: whitesmoke;
  -webkit-transition: color 2s;
  transition: background 2s;
  border-radius: 12px;
}

.thumbsUpCom:hover {
  background-color: #941010;
  color: whitesmoke;
  -webkit-transition: color 2s;
  transition: background 2s;
  border-radius: 12px;
}
.facebook {
  width: 100px;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}

.dropdown {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #222;
  color: whitesmoke;
}
.dropdownTopic {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #222;
  color: whitesmoke;
}
.dropdown1 {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #222;
  color: whitesmoke;
}
Loading {
  width: 100vw;
}

.createAcc {
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}
