@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30vh;

  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

.App-title {
  font-size: large;
}

.App-intro {
  font-size: large;
}

.articleList {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.article-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.gallery-Item {
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery-Item .articleThumbnail {
  height: 240px;
  width: 290px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 4px;
  padding: 2%;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 80px black;

  
}

Nav {
  color: white;
  text-decoration: underline;
  text-decoration-color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullArticle {
  width: 60%;
  margin: auto;
}

/* @media screen and (min-width: 768px) {
  .App-title  { display: block; }
  #leftside > button { display: none; }
} */