@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
.background {
  background-image: url('./northcoderlogo.jpg');
  background-repeat: repeat-y repeat-x;
  background-size: 5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30vh;

  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

.App-title {
  font-size: large;
}

.App-intro {
  font-size: large;
}

.articleList {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.article-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.gallery-Item {
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery-Item .articleThumbnail {
  height: 240px;
  width: 290px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 4px;
  padding: 2%;
  background-color: whitesmoke;
  box-shadow: 0 0 80px black;
}

nav {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullArticle {
  width: 60%;
  margin: auto;
  height: 100vh;
}

.title {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}

.commentBox {
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 5px outset #941010;
  border-width: 5px;
  border-style: outset;
  border-color: #941010;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  height: 110vh;
}

.commentHeader {
  grid-area: header;
  background-color: white;
  position: relative;
  border-bottom-color: black;
}

.commentMain {
  grid-area: main;
  padding-right: 15px;
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
}

.commentFooter {
  grid-area: footer;
  font-size: 18px;
  /* background-image: url('./northcoderlogo.jpg');
  background-repeat: repeat-y repeat-x; */
  background-size: 5%;
  background-color: black;
}

input[type='text'] {
  box-sizing: border-box;
  width: 80%;
}
